.fonte-titulo {
    font-family: 'Satisfy', cursive;
    font-size: 46px;
    text-align: center;
}

.fonte-titulo2 {
    font-size: 18px;
    text-align: center;
}

.fonte-titulo3 {
    font-family: 'Satisfy', cursive;
    font-size: 26px;
    text-align: center;
}

.nav-item {
    font-size: 25px;
    margin: 0 100px;
}

.imagem-carrossel {
    object-fit: cover;
    height: 500px;
}

.botao-cor-especial {
    background-color: gray;
    color: white;
}

.borda-cor-especial {
    border-color: yellow;
}

.card-largura {
    max-width: 24rem;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 500px;
}

.margin-top-150 {
    margin-top: 150px;
}