.imagem-carrossel {
    object-fit: cover;
    height: 400px;
}

.titulo {
    color: red;
}

.fonte-titulo {
    font-family: 'Lobster', cursive;
}

.cor-especial {
    font-family: 'Lobster', cursive;
    color: green;
}

.botao-cor-especial {
    background-color: gray;
    color: white;
}

.borda-cor-especial {
    border-color: yellow;
}

.card-largura {
    max-width: 24rem;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 500px;
}